@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --color-font-variant:hsl(233, 8%, 79%);
    --color-font: hsl(236, 13%, 42%);
    --color-primary: hsl(35, 77%, 62%);
    --color-primary-variant: hsl(5, 85%, 63%);
    --color-off-white: hsl(36, 100%, 99%);
    --color-bg-variant: hsl(240, 100%, 5%);

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 98%;
    --transitions: all 400ms ease;
}
html{
    scroll-behavior: smooth;

}
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: "Poppins", sans-serif;
    color: var(--color-font);
    font-size: 15px;
    line-height: 1.7rem;
}

/*GENERAL STYLES*/

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
h1, h2, h3, h4, h5{
    font-weight: 400;
    color: var(--color-off-white);
    text-transform: capitalize;
}
h1{
    color: var(--color-bg-variant);
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.2rem;
}
h2{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-primary);
}
p{
    margin-bottom: 1.7rem;
}
a{
    transition: var(--transitions);
    color: var(--color-font);
}
a:hover{
    color: var(--color-primary-variant);
}
.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-off-white);
    letter-spacing: .2rem;
    background-color: var(--color-primary-variant);
    padding: 0.75rem 3rem;
    cursor: pointer;
    transition: var(--transitions);
    text-transform: uppercase;
}
.btn:hover{
    background-color: var(--color-bg-variant);
    color: var(--color-off-white);
}
.btn-primary{
    background-color: var(--color-primary-variant);
    color: var(--color-off-white);
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}